@import "./font.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.title-header {
  @apply font-medium text-[60px] leading-[64px] font-plus-jakarta-sans;
}

.swiper-wrapper {
  @apply grid gap-5;
}

.swiper-slide {
  @apply !opacity-45;
}

.active-slide {
  @apply !opacity-100;
}

.tamplate-bg {
  background-image: radial-gradient(rgba(5, 8, 16, 0.7), #050810);
}

.acordion span {
  transform: translateY(120px);
}

.active-acordion {
  transform: translateY(0);
}
