@import "./font.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.title-header {
  @apply font-medium text-2xl leading-7 text-center md:text-left md:text-[60px] md:leading-[64px] font-plus-jakarta-sans;
}

.swiper-wrapper {
  @apply grid gap-5;
}

.swiper-slide {
  @apply !opacity-45;
}

.active-slide {
  @apply !opacity-100;
}

.tamplate-bg {
  background-image: radial-gradient(rgba(5, 8, 16, 0.7), #050810);
}

.dropdown:hover a svg {
  transform: rotate(180deg);
}

.dropdown a svg {
  transition: all ease 0.3s;
}

.dropdown ul li {
  display: flex;
  justify-content: center;
  padding: 4px;
  font-size: 12px;
}

.dropdown ul li:hover {
  opacity: 0.8;
}

.dropdown ul {
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.1);
  padding: 6px;
  min-width: 100%;
  border: 1px solid #e3e5e8;
  border-radius: 8px;
  background-color: white;
  opacity: 0;
  float: left;
  left: 0;
  visibility: hidden;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  top: 20px;
}

.dropdown:hover ul {
  opacity: 1;
  top: 25px;
  visibility: visible;
}

.pricing-active {
  color: #000;
}

.discount {
  font-size: 10px;
}

.acordion span {
  transition: all 0.3s ease;
}

.acordion-item {
  height: 0px;
  overflow: hidden;
  display: none;
}

.active-acordion span {
  @apply !block h-auto;
}

.active-acordion button svg {
  transform: rotate(180deg);
}

.disc {
  @apply line-through;
}
